### Analysis of Database Schema

The departments table had dept_no and dept_name attributes. dept_no was unique and not null (although not entirely numeric, so I assigned it VARCHAR(8), although I doubt they would ever have that many departments), and intuitively I assigned it a primary key.

The department employee table seems to match all employee ids with their corresponding department number that they work in. Everything is non null, and the employee id is unique. We can have many employees corresponding to one department. The department number is a foreign key, referenced in another table. The employee number is a primary key. 

The depertment manager table seems to list the managers for various departments. I wasn't sure if someone could be the manager of multiple departments, so I didn't want to assign the employee no as a primary key - perhaps duplicates are allowed. And the department numbers are repeated (multiple managers to cover shifts for a department), so they clearly are not a primary key. They are both foreign keys though. 

The employees table uses dates for the first time. They are in the MDY SQL format from the postgres documentation. If I have to make changes to this later, I will need to use the MDY datestyle (see [here](https://www.postgresql.org/docs/current/datatype-datetime.html) on how to do that).

## Questions and Notes


The code I entered on https://app.quickdatabasediagrams.com/#/ to generate my diagram is in the next cell. I was struggling with the relationship syntax and I wasn't really sure if I needed to specify more/less. 


Some other notes - https://stackoverflow.com/questions/4848964/difference-between-text-and-varchar-character-varying

seemed to imply that varchar(n) is not really giving you the performance benefit you might think it is? Assigning it the text type seems fine? But the assignment rubric is grading us for proper character assignment for our columns? What if I chose to use text instead of varchar? 


Another note - I know the SERIAL is syntax sugar for a way to create an INT with a sequence. But I don't own this DB, and we are only asked to query, not to insert or modify the data in any way. As such I see no point in using SERIAL (I'm referring to emp_no for this assignment), but I suspect the grader will take points off because its the kind of scenario where you might expect SERIAL to be used. I want to mention this here so that I can reference it in the future if I get points off.

```


departments
-
dept_no CHAR(4) PK
dept_name VARCHAR(30)


titles
-
title_id CHAR(5) PK
title VARCHAR(30)


employees
-
emp_no INT PK
emp_title CHAR(5) FK >- titles.title_id
birth_date DATE
first_name VARCHAR(30)
last_name VARCHAR(30)
sex   CHAR(1)
hire_date DATE


dept_emp
-
emp_no INT PK FK >- employees.emp_no
dept_no  CHAR(4) PK FK >- departments.dept_no


dept_manager
-
dept_no CHAR(4) FK >- departments.dept_no
emp_no INT PK FK >- employees.emp_no


salaries
-
emp_no INT PK FK - employees.emp_no
salary INT 

```